<div id="search-container">
  <%= form_tag("/search", method: "post") do %>  
    <%= label_tag(:name, "Search New Artist") %>
    <%= text_field_tag :name, params[:name], id: "artist-name-input" %>
    <%= submit_tag("Go!", id:"submit-artist-button") %>
  <% end %>

  <div><%= flash[:notice] %></div>
</div>