<%= form_tag("/search", method: "post") do %>  
  <%= label_tag(:name, "Search New Artist") %>
  <%= text_field_tag :name, params[:name], id: "artist-name-input" %>
  <%= submit_tag("Go!", id:"submit-artist-button") %>
<% end %>

<ul id="artist-list">Artists
  <li><button class="get-artist-button">Sample Artist</button></li>
  <% @artists.each do |artist| %>
    <li><button class="get-artist-button" name="<%= artist.id %>">
      <%= artist.name %>
    </button></li>
  <% end %>
</ul>

<table id="wc-table">Word Counts
  <tr>
    <td>Word</td><td>#</td>
  </tr>
</table>
